@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Inter", sans-serif;
  --red: #da2535;
  --black: #292929;
  --white: #fbfbfb;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* SEARCH BAR CONTAINER */
.search-local {
  width: 100%;
  max-width: 75rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding-left: 2rem;
  background: var(--white);
  border-radius: 1rem;
  min-height: 7rem;
  height: auto;
  border: 0.1rem solid var(--black);
  border-right: none;
}

/* ICON */
.icon {
  color: var(--red);
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon:hover {
  animation: funny-icon 0.4s ease-in-out;
}

@keyframes funny-icon {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.8;
    transform-origin: bottom;
    transform: rotate(-15deg);
  }

  100% {
    scale: 1;
  }
}

/* INPUT */
.search-local input {
  height: 100%;
  width: 100%;
  flex: 1 1 25rem;
  background: var(--white);
  display: flex;
  outline: none;
  border: none;
  color: var(--black);
  font-size: 2.4rem;
}

input[type="text"]::placeholder {
  color: var(--black);
  font-size: 2.4rem;
}

/* BUTTON */
.search-local button {
  border: none;
  border-radius: 0 1rem 1rem 0;
  font-weight: 500;
  font-size: 2.4rem;
  height: 7rem;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  background-color: #000;
  color: #ededed;
  border: none;
}

button a {
  color: var(--white);
}

button {
  cursor: pointer;
}

.search-local button .search-icon {
  display: none;
}

.search-local button:hover {
  letter-spacing: 0.5rem;
}

/* MEDIAS */
@media (max-width: 575px) {
  .search-local {
    padding-left: 0;
    column-gap: 0.25rem;
  }

  .search-local button {
    width: 10rem;
  }

  button a {
    display: none;
  }

  .search-local button .search-icon {
    display: block;
    margin-inline: auto;
    color: var(--white);
    font-size: 3rem;
  }

  input[type="text"]::placeholder {
    font-size: 1.7rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

:root {
  --green: #58a497;
  --yellow: #e09449;
  --lightgreen1: #a4bdb7;
  --brown: #8b4448;
  --gray: gray;
  --lightgreen2: rgb(164, 189, 183, 0.5);
  --box: #ededed;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: #a4bdb7;
}

/* Content-1:Start */
.box {
  opacity: 0;
  width: 350px;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  background: #ededed;
}

.box1 {
  margin-top: 10px;
}

.content {
  margin: 15px 2px;
}

.image img {
  height: auto;
  width: 120px;
  border-radius: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.level {
  font-size: 1.2em;
  background-color: rgb(164, 189, 183, 0.5);
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 1px;
  display: block;
  margin: 0px auto 10px;
}

.name {
  font-size: 2.25em;
  font-weight: bolder;
  letter-spacing: 1px;
}

button {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-weight: bolder;
}

.button {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 20px 30px 0px;
}

.button .message {
  background: #ededed;
  border: 2px solid #000;
  cursor: pointer;
}

.button .connect {
  background-color: #000;
  color: #ededed;
  border: none;
  cursor: pointer;
}

button.connect:hover {
  letter-spacing: 1px;
  transition: 0.5s;
}

button.message:hover {
  letter-spacing: 1px;
  transition: 0.5s;
  background: rgba(88, 164, 151, 0.5);
}

/* Content-1:End */

/* Content-2:Start */
.box2 {
  margin-top: 50px;
  margin-bottom: 10px;
}

.box2 img {
  width: 80px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 10px;
}

h5 {
  font-weight: bolder;
  font-size: 2em;
}

.row p {
  font-size: 1em;
}

.box2 .text {
  text-align: left;
}

.box2 .text .name {
  font-size: 2.1em;
}

.box2 .text .located_at {
  font-size: 1em;
  margin-bottom: 10px;
}

.box2 .text .about {
  font-size: 1.2em;
  font-weight: bolder;
}

footer {
  font-size: 20px;
  position: fixed;
  bottom: 0;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .box {
    width: 100vw;
    border-radius: 0px;
  }

  .button {
    display: flex;
    flex-direction: column;
  }

  .button button {
    width: 250px;
  }

  button.connect {
    margin-top: 10px;
  }

  .content2 {
    padding: 0px 20px;
  }

  .content2 img {
    width: 60px;
    height: 60px;
  }
}
